In [1]:
import pandas as pd
import numpy  as np
import matplotlib.pyplot as plt

In [2]:

df = pd.read_csv(r"C:\Users\wilme\OneDrive\Documentos\GitHub\Repositorio-secreto-Scielo\Data\scopus_con_indicadores.csv")

C:\Users\wilme\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
#df.sort_values(by="Cited_by",ascending=False)   cuando necesite ordenar

In [3]:
df2 = df

In [35]:
# Se establecen las condiciones para la valoracion de los articulos mas populares y menos populares
condiciones = [
    (df2['Cited_by'] >= 100) ,
    (df2['Cited_by'] < 100) & (df2['Cited_by'] >= 50),
    (df2['Cited_by'] < 50) & (df2['Cited_by'] >= 20),
    (df2['Cited_by'] < 20) & (df2['Cited_by'] >= 10),
    (df2['Cited_by'] < 10) & (df2['Cited_by'] >= 5),
    (df2['Cited_by'] < 5) & (df2['Cited_by'] > 0),
     (df2['Cited_by'] == 0)
    
]
eleccion = ['1', '2', '3','4','5','6','7']
df2['nivel_de_citacion'] = np.select(condiciones, eleccion, default='error')
df2.head()

,Unnamed: 0,Author(s)_ID_Rev,Title,Year,Source_title,Document_Type,Abstract,Authors_Rev,Total_Citation,Total_Title,...,Total_Journal,Delta_publications,autor_career,citation_journal,Delta_coautores,Cited_by,Years,cant_coautores,journal_mean_citation,nivel_de_citacion
0,0,6602373241,"On Gymnodactylus amarali Barbour, 1925, with t...",2005,Anais da Academia Brasileira de Ciencias,Article,"Gymnodactylus amarali Barbour, 1925, was previ...",Vanzolini P.E.,62.0,5,...,1,0.0,3,9.146637,0.0,7.0,14,1,9.146637,5
1,1,7004422261,Constraints to the implementation of effective...,2005,Anais da Academia Brasileira de Ciencias,Article,This paper addresses the limitations the scarc...,De Wagener A.L.R.,6.0,1,...,1,0.0,0,9.146637,0.0,6.0,14,1,9.146637,5
2,2,11739855600,Geochemical modeling of gold precipitation con...,2005,Anais da Academia Brasileira de Ciencias,Article,A geochemical modeling of gold deposition was ...,Mexias A.S.,11.0,2,...,1,0.0,2,9.146637,0.0,7.0,14,7,9.146637,5
3,3,7202349172,Geochemical modeling of gold precipitation con...,2005,Anais da Academia Brasileira de Ciencias,Article,A geochemical modeling of gold deposition was ...,Berger G.,7.0,1,...,1,0.0,0,9.146637,0.0,7.0,14,7,9.146637,5
4,4,11738879800,Geochemical modeling of gold precipitation con...,2005,Anais da Academia Brasileira de Ciencias,Article,A geochemical modeling of gold deposition was ...,Gomes M.E.B.,11.0,2,...,1,0.0,2,9.146637,0.0,7.0,14,7,9.146637,5

In [36]:
# Revisar cuantos articulos tiene el nivel de popularidad

df2['nivel_de_citacion'].value_counts()

6    64444
7    56621
5    22504
4    13268
3     6156
2      929
1      215
Name: nivel_de_citacion, dtype: int64

In [37]:
df2.columns

Index(['Unnamed: 0', 'Author(s)_ID_Rev', 'Title', 'Year', 'Source_title',
       'Document_Type', 'Abstract', 'Authors_Rev', 'Total_Citation',
       'Total_Title', 'Max_Citation', 'Total_Journal', 'Delta_publications',
       'autor_career', 'citation_journal', 'Delta_coautores', 'Cited_by',
       'Years', 'cant_coautores', 'journal_mean_citation',
       'nivel_de_citacion'],
      dtype='object')

In [38]:
dataset = df2[['Year', 'Source_title', 'Document_Type', 'Authors_Rev','Authors_Rev', 'Total_Citation',
       'Total_Title', 'Max_Citation', 'Total_Journal', 'Delta_publications',
       'autor_career', 'citation_journal', 'Delta_coautores',
       'Years', 'cant_coautores', 'journal_mean_citation','nivel_de_citacion']]

In [39]:
# Clasificacion de los parametros
X = dataset.iloc[:, [0,15]].values
y = dataset.iloc[:, 16].values

In [40]:
# Dividir el data set en conjunto de entrenamiento y conjunto de testing
from sklearn.model_selection import train_test_split # componente que nos permite hacer la particion
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 0)

In [41]:
# Ajustar el clasificador de Árbol de Decisión en el Conjunto de Entrenamiento son varios clasificadores o modelos 
#entropy es uno
from sklearn.tree import DecisionTreeClassifier
classifier = DecisionTreeClassifier(criterion = "entropy", random_state = 0)
classifier.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=0,
            splitter='best')

In [42]:
# Predicción de los resultados con el Conjunto de Testing
y_pred  = classifier.predict(X_test)

In [43]:
# Elaborar una matriz de confusión
from sklearn.metrics import confusion_matrix # Componente del paquete para esta funcionalidad
cm = confusion_matrix(y_test, y_pred)

In [44]:
cm

array([[    1,     0,    11,    18,     3,    23,     4],
       [    0,     0,    46,   100,    25,    65,     1],
       [    0,     0,   179,   459,   231,   592,    16],
       [    0,     0,   166,   769,   501,  1816,    92],
       [    0,     0,   131,   571,   798,  3894,   250],
       [    0,     0,    82,   573,   633, 11329,  3363],
       [    0,     0,    12,   115,   171,  4672,  9323]], dtype=int64)

In [45]:
y_test

array(['6', '7', '5', ..., '7', '3', '5'], dtype=object)

In [46]:
y_pred

array(['6', '6', '6', ..., '7', '4', '6'], dtype=object)

In [48]:
from sklearn.metrics import accuracy_score # revisar el nivel de precicion
accuracy_score(y_test, y_pred)

0.5458511027171926